{% extends 'series_peliculas_app/base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <h1>Actualizar Serie Peliculas....</h1>
    {{venue}}
    <form action="" method="POST" enctype="multipart/form-data" id="registroForm">
        {% csrf_token %}
        
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mb-5 w-100" >Actualizar Registro </button>
    </form>
    <style>
        /* Estilos para el borde y el fondo del input */
        .input-invalid {
            border: 1px solid #dc3545;  /* Borde rojo */
            background-color: #f8d7da;  /* Fondo rojo claro */
        }
    
        .input-valid {
            border: 1px solid #28a745;  /* Borde verde */
            background-color: #d4edda;  /* Fondo verde claro */
        }
    </style>
   
    {% else %}

    <h1>sorry you must be login to view this page</h1>
    <a class="btn btn-secondary" href="{% url 'login' %}">Login Here</a>
    
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var seriePeliculaField = document.getElementById('id_serie_o_pelicula');
            var temporadasField = document.getElementById('id_temporadas');
            var episodiosField = document.getElementById('id_episodios');
            var finalizadaField = document.getElementById('id_finalizada');
            var fechaSerieInput = document.getElementById('id_fecha_serie');
            var labelTemporadas = document.querySelector('label[for="id_temporadas"]');
            var labelEpisodios = document.querySelector('label[for="id_episodios"]');
            var labelFinalizada = document.querySelector('label[for="id_finalizada"]');
    
            function toggleTemporadasEpisodios() {
                if (seriePeliculaField.value === 'Serie') {
                    temporadasField.disabled = false;
                    episodiosField.disabled = false;
                    finalizadaField.disabled = false;
                    temporadasField.style.display = 'block';  // Mostrar campos
                    episodiosField.style.display = 'block';
                    labelTemporadas.style.display = 'block';  // Mostrar labels
                    labelEpisodios.style.display = 'block';
                    finalizadaField.style.display = 'block';
                    labelFinalizada.style.display = 'block';
                } else {
                    temporadasField.disabled = true;
                    episodiosField.disabled = true;
                    finalizadaField.disabled = true;
                    temporadasField.value = '';  // Clear the value when disabled
                    episodiosField.value = '';   // Clear the value when disabled
                    temporadasField.style.display = 'none';  // Ocultar campos
                    episodiosField.style.display = 'none';
                    labelTemporadas.style.display = 'none';  // Ocultar labels
                    labelEpisodios.style.display = 'none';
                    finalizadaField.style.display = 'none';
                    labelFinalizada.style.display = 'none';
                }
            }
    
            toggleTemporadasEpisodios();  // Llamar la función al cargar la página
    
            seriePeliculaField.addEventListener('change', function() {
                toggleTemporadasEpisodios();
            });

            fechaSerieInput.addEventListener('input', function () {
                var fechaSerieValue = parseInt(fechaSerieInput.value);
                if (fechaSerieValue < 1900 || fechaSerieValue > 2100) {
                    fechaSerieInput.classList.remove('input-valid');
                    fechaSerieInput.classList.add('input-invalid');
                    fechaSerieInput.classList.add('is-invalid');
                } else {
                    fechaSerieInput.classList.remove('input-invalid');
                    fechaSerieInput.classList.add('input-valid');
                    fechaSerieInput.classList.remove('is-invalid');
                }
            });
        });
    </script>
{% endblock %}
