{% extends 'series_peliculas_app/base.html' %} 


{% block content %}
  <div class="row">
    <div class="col col-8"><h1>la lista de series peliculas</h1></div>
    <div class="col col-4"><h2 class="btn-primary text-center rounded text-warning">Usuario Conectado: 
      {% if user.is_authenticated %}
      {{name}}
      {% else %}
      No estas conectado
      {% endif %}
    </h2></div>
  </div>
  
  <!-- antes venue_list-->

  <table class="table table-striped table-hover table-bordered border-primary shadow rounded custom-table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Titulo</th>
        <th scope="col" class="text-center">Año</th>
        <th scope="col" class="text-center">Nº Temporadas</th>
        <th scope="col" class="text-center">Nº Episodios</th>

        <th scope="col" class="text-center">Plataforma</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Género</th>
        <th scope="col" class="text-center">Puntuacion</th>
        <th scope="col" class="text-center">Finalizada?</th>

        <th scope="col" class="text-center">Comentarios</th>
        <th scope="col" class="text-center">Imagen</th>
        <th scope="col" class="text-center">Serie/Pelicula</th>
        <th scope="col" class="text-center">Recomendado Por</th>
        {% if user.is_authenticated %}
        <th scope="col" class="text-center">Actualizar</th>
        {% endif %}
        {% if user.is_authenticated %}
        <th scope="col" class="text-center">{% if user.is_authenticated %}Eliminar{% endif %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for la_serie_pelicula in todas_series_peliculas %}
      <tr>
        <th class="text-wrap" style="max-width: 150px;" scope="row">{{la_serie_pelicula.titulo_serie}}</th>
        <td>{{la_serie_pelicula.fecha_serie }}</td>
        <td>{{la_serie_pelicula.temporadas }}</td>
        <td>{{la_serie_pelicula.episodios }}</td>

        <td class="text-wrap" style="max-width: 150px;">{{la_serie_pelicula.plataforma}}</td>
        <!--<td class="text-wrap" style="max-width: 150px;">{{la_serie_pelicula.description}}</td>-->
        <td>
          <a class="btn btn-primary" href="#" onclick="verDescripcion('{{ la_serie_pelicula.id }}','{{la_serie_pelicula.description}}','{{la_serie_pelicula.serie_pelicula_imagen.url}}')">Ver Descripcion 
            {{ la_serie_pelicula.id }}</a>
        </td>
        
        <td class="text-wrap" style="max-width: 150px;">{{la_serie_pelicula.genero}}</td>
        
        <!--<td>{{la_serie_pelicula.puntuacion}}</td>-->
        <td>
          <div class="rating">
              {% for i in "x"|rjust:la_serie_pelicula.puntuacion %}
                  <span><i class="fas fa-star"></i></span>
              {% endfor %}
          </div>
      </td>
       <!-- <td>{{la_serie_pelicula.finalizada}}</td>-->
        <td>
          {% if la_serie_pelicula.finalizada %}
              Finalizada
          {% else %}
              Esta activa
          {% endif %}
      </td>
      
        <!--<td class="text-wrap" style="max-width: 150px;">{{la_serie_pelicula.comentarios}}</td>-->
        <td>
          <a class="btn btn-warning" href="#" onclick="verComentarios('{{ la_serie_pelicula.id }}','{{la_serie_pelicula.comentarios}}','{{la_serie_pelicula.serie_pelicula_imagen.url}}')">Ver Comentarios 
            {{ la_serie_pelicula.id }}</a>
        </td>
        <td style="text-align: center;">
          {% if la_serie_pelicula.serie_pelicula_imagen %} 
         
          <img src="{{la_serie_pelicula.serie_pelicula_imagen.url}}" width="50%" alt="" />
          {% endif %}
        </td>
        
        <td>{{la_serie_pelicula.serie_o_pelicula}}</td>
        <td class="text-wrap" style="max-width: 150px;">{{la_serie_pelicula.recomendado_por}}</td>
        {% if user.is_authenticated %}
        <td>
          
          <a class="btn btn-success" href="{% url 'actualizar_serie_pelicula' la_serie_pelicula.id %}">Actualizar {{la_serie_pelicula.id}}</a>
          
        </td>
        {% endif %}
        <!--<td><a class="btn btn-danger" href="{% url 'eliminar_serie_pelicula' la_serie_pelicula.id %}">Eliminar {{la_serie_pelicula.id}}</a></td>-->
        {% if user.is_authenticated %}
        <td>
          
          <a class="btn btn-danger" href="#" onclick="confirmDelete('{{ la_serie_pelicula.id }}')">Eliminar 
            {{ la_serie_pelicula.id }}</a>
          
      </td>
      {% endif %}
      </tr>
      {% endfor %}
      
    </tbody>
  </table> 
  <br /><br />
  <br />
  {% if todas_series_peliculas.has_previous %}
  <a class="btn btn-primary" href="?page=1">&laquo; First</a>
  <a
    class="btn btn-success"
    href="?page={{ todas_series_peliculas.previous_page_number }}"
    >Previous</a
  >
  {% endif %}

  <div class="btn btn-light">
    Page {{ todas_series_peliculas.number }} of {{ todas_series_peliculas.paginator.num_pages }}
  </div>
  {% if todas_series_peliculas.has_next %}
  <a
    class="btn btn-danger"
    href="?page={{todas_series_peliculas.next_page_number}}"
    >Next</a
  >
  <a
    class="btn btn-warning"
    href="?page={{ todas_series_peliculas.paginator.num_pages }}"
    >Last &raquo;</a
  >
  {% endif %}
  <br /><br />

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if todas_series_peliculas.has_previous %}
      <li class="page-item m-1">
        <a class="btn btn-primary page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item m-1">
        <a
          class="btn btn-success page-link"
          href="?page={{ todas_series_peliculas.previous_page_number }}"
          >Previous</a
        >
      </li>

      {% endif %}

      <li class="page-item m-1 page-link">
        Page {{ todas_series_peliculas.number }} of {{ todas_series_peliculas.paginator.num_pages }}
      </li>

      {% for i in nums %}
      <li class="page-item m-1">
        <a class="btn btn-danger page-link" href="?page={{forloop.counter }}"
          >{{ forloop.counter }}</a
        >
      </li>
      {% endfor %} {% if todas_series_peliculas.has_next %}

      <li class="page-item m-1">
        <a
          class="btn btn-danger page-link"
          href="?page={{todas_series_peliculas.next_page_number}}"
          >Next</a
        >
      </li>
      <li class="page-item m-1">
        <a
          class="btn btn-warning page-link"
          href="?page={{ todas_series_peliculas.paginator.num_pages }}"
          >Last &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>

  <br />



{% endblock %}


  